# Deep learning models formulation and training pipelines
In this notebook the implementation of the deep learning model is carried out

In [1]:
import tensorflow as tf

In [5]:
import pandas as pd
import numpy as np

In [7]:
from pandas import read_csv

In [12]:
allvarsdf=read_csv('../data/Monterrey/processed/northweast_imputations.csv').drop(columns='Unnamed: 0')

In [77]:
cleaned=read_csv('../data/Monterrey/cleaned_station/NOROESTE.csv')

In [25]:
columns_to_work_station=allvarsdf.columns[~allvarsdf.columns.str.contains('miss')].to_list()

In [76]:
(allvarsdf['date'].iloc[1:].to_numpy()-allvarsdf['date'].iloc[:-1].to_numpy())[1]

0.00011407712008804083

In [30]:
import datetime

In [33]:
pd.to_datetime(allvarsdf['date'],infer_datetime_format=True)

0       1970-01-01 00:00:00.000002011
1       1970-01-01 00:00:00.000002012
2       1970-01-01 00:00:00.000002012
3       1970-01-01 00:00:00.000002012
4       1970-01-01 00:00:00.000002012
                     ...
52603   1970-01-01 00:00:00.000002018
52604   1970-01-01 00:00:00.000002018
52605   1970-01-01 00:00:00.000002018
52606   1970-01-01 00:00:00.000002018
52607   1970-01-01 00:00:00.000002018
Name: date, Length: 52608, dtype: datetime64[ns]

In [54]:
from datetime import datetime, timedelta

t = np.arange(datetime(2012,1,1), datetime(2018,12,23), timedelta(hours=1)).astype(datetime)

In [87]:
t[0]

datetime.datetime(2012, 1, 1, 0, 0)

In [82]:
type(cleaned['FECHA'][0])

str

In [83]:
cleaned.shape

(52608, 16)

In [95]:
test_timestamp=pd.to_datetime(cleaned['FECHA'], format='%Y-%m-%d %H:%M:%S')[0]
test_timestamp

AttributeError: 'Timestamp' object has no attribute 'astype'

In [94]:
datetime.fromtimestamp(test_timestamp)

TypeError: an integer is required (got type Timestamp)