# Data Merge for data cleansing and analysis
Raw data provided by the local government is processed and packed in a binary pickle file located in the processed data folder.

## Importing the raw data, exploratory data analysis and general statistics of our data
Here we are going to import the data as it is provided by the devices installed all over the Metropolitan Area of Monterrey.

In [22]:
## General libraries for dataframe handling, numeric operations and plotting
import pandas as pd
import numpy as np

##Libraries for visualization in Jupyter

In [2]:
#Adding the code folder to the search path of python
from sys import path
path.append('../code')

In [43]:
import os
from datacleaning import dfretrival
data_path='../data/Monterrey'
data_processed=os.path.join(data_path,'processed')
raw_path=os.path.join(data_path,'raw')

In [19]:
dataframes=[]
for file in os.listdir(raw_path):
    if file.endswith('.xlsx'):
        dataframes.append(dfretrival(raw_path,file))
    else:
        continue

C:\Users\Gerson Colorado\.conda\envs\tf2\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [23]:
all_raw_data=pd.concat(dataframes)
all_raw_data.shape

(52608, 195)

In [35]:
#Random value strings in 2012 and 2013 (34 observations)
strange_strings=(all_raw_data.applymap(type)==type('s'))
strange_strings.sum().sum()

35

In [38]:
all_raw_data.loc[strange_strings.sum(axis=1)>0,strange_strings.sum()>0]=all_raw_data.loc[strange_strings.sum(axis=1)>0,strange_strings.sum()>0].applymap(lambda x: np.nan if type(x)==type('s') else x)

In [39]:
(all_raw_data.applymap(type)==type('s')).sum().sum()

0

In [41]:
#Some functions requiere all the values to be float
strange_ints=(all_raw_data.applymap(type)==type(1))
all_raw_data=all_raw_data.applymap(np.vectorize(float))
all_raw_data.loc[strange_ints.sum(axis=1)>0,strange_ints.sum()>0]=all_raw_data.loc[strange_ints.sum(axis=1)>0,strange_ints.sum()>0].applymap(lambda x: float(x) if type(x)==type(1) else x)

In [42]:
all_raw_data.head()

ESTACION            CENTRO                                                   \
MEDIDA                  CO    NO   NO2   NOX   O3   PM10  PM2.5         PRS
FECHA
2012-01-01 00:00:00   1.85  25.2  57.6  82.8  4.0  166.0  115.0  722.399985
2012-01-01 01:00:00   1.93  23.7  57.2  80.9  3.0  150.0  105.0  722.599985
2012-01-01 02:00:00   1.97  32.7  55.3  88.0  3.0  165.0  126.0  722.899985
2012-01-01 03:00:00   1.39  17.7  46.1  63.8  3.0  158.0   92.0  722.799985
2012-01-01 04:00:00   1.13  11.9  42.5  54.4  3.0  101.0   48.0  723.199985

ESTACION                         ... SUROESTE2                              \
MEDIDA              RAINF    RH  ...      PM10 PM2.5 PRS RAINF  RH SO2  SR
FECHA                            ...
2012-01-01 00:00:00   0.0  36.0  ...       NaN   NaN NaN   NaN NaN NaN NaN
2012-01-01 01:00:00   0.0  38.0  ...       NaN   NaN NaN   NaN NaN NaN NaN
2012-01-01 02:00:00   0.0  39.0  ...       NaN   NaN NaN   NaN NaN NaN NaN
2012-01-01 03:00:00   0.0  36.0  ...       NaN   NaN NaN   NaN NaN NaN NaN
2012-01-01 04:00:00   0.0  35.0  ...       NaN   NaN NaN   NaN NaN NaN NaN

ESTACION
MEDIDA              TOUT WDR WSR
FECHA
2012-01-01 00:00:00  NaN NaN NaN
2012-01-01 01:00:00  NaN NaN NaN
2012-01-01 02:00:00  NaN NaN NaN
2012-01-01 03:00:00  NaN NaN NaN
2012-01-01 04:00:00  NaN NaN NaN

[5 rows x 195 columns]

In [45]:
all_raw_data.to_pickle(os.path.join(data_processed,'AMMfull.pkl'))